*,html{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.pageTitle{
    margin: 10px;
    padding: 10px;
    font-size: large;
    font-style: italic;
    font-weight: bold;
}
.pageTitle span{
    color: #d9d9d9;
}
.FlexBox-Container{
    display: flex;
    justify-content: flex-start
}

.FlexAll {
    min-height: 100vh;
}

.Flex1 {
    position: fixed;
    min-width: 120px;
    width: 10%;
    background-color: white;
    border-right:2px solid #d9d9d9;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 60px);
}
::-webkit-scrollbar {
    height: 10px;
    width: 3px;
    background-color: #d9d9d9;
    border-radius: 10px;
  }
.Flex2 {
    position: absolute;
    margin-left: 10%;
    width: 70%;
    background-color: black;
    
}
.Flex3 {
    margin-left: 80%;
    min-width: 300px;
    position: fixed;
    width: 20%;
    background-color: gray;
    border-left: 2px solid #d9d9d9;
}
.userBuilds{
    padding-top: 10px;
    padding-left: calc(0% + 200px);
    display: flex;
    flex-direction: column;
}
.uBuild{
    display: flex;
    background-color: black;
    width: calc(100% - 200px);
    min-width: 600px;
    
}
.champPicture{
    display: flex;
    flex: 0 0 150px;
    max-width: 150px;
    position: relative;
}
.champName{
    display: flex;
    color: white;
}
.champSkillOrder{
    display: flex;
    flex-direction: row;
    color: white;
}
.champRunes{
    display: flex;
    flex-direction: column;
}
.champSS{
    display: flex;
    flex-direction: column;
}

.NavButtons{
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    border-top: 2px solid #d9d9d9;
    border-bottom: 2px solid #d9d9d9;
}
.NavBTN{
    height: 40px;
}

.NavButtons .NavBTN a, a:link, a:focus, a:hover, a:visited{
    color: #d9d9d9;
    font-weight: 500;
    text-decoration: none;
    outline: none;
}

.Legal{
    margin-top: 250px;
}
.Legal span{
    font-weight: 500;
    color: #d9d9d9;
    font-size: 0.6em;
}
.SearchBars{
    height: 35vh;
    border-bottom: 2px solid #d9d9d9;
    display: flex;
    flex-direction: column;
}
.sChamp{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transform: translate(25%,25%);
}
.sChamp span{
    color: #d9d9d9;
    font-size: large;
    font-weight:bold;
}
.sChamp_txt{
    transform: translate(-20%, 0);
    width: 75%;
    height: 35px;
}
.sPlayer{
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transform: translate(25%,50%);
}
.sPlayer span{
    color: #d9d9d9;
    font-size: large;
    font-weight: bold;
}
.sPlayer_txt{
    transform: translate(-20%, 0);
    width: 75%;
    height: 35px;
    border-radius: 10px;
}
.HomeBTN{

}
.CreateBTN{

}
.MetaBTN{
}
.KeyTermsBTN{
}
.GuideBTN{

}