.column1 {
    position: relative;
    float:left;
    min-height: 100vh;
    width: 5%;
}
.column2 {
    position: relative;
    float:left;
    min-height: 100vh;
    width: 75%;
}
.column3 {
    position: relative;
    float:left;
    min-height: 100vh;
    width: 20%;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
img {
    margin: 5px;
    size: 100px;
}