*,html{
    margin:0;
    padding:0;  
}
.pageTitle{
    margin: 10px;
    padding: 10px;
    font-size: large;
    font-style: italic;
    font-weight: bold;
}
.pageTitle span{
    color: white;
}
.FlexBox-Container{
    display: flex;
    justify-content: flex-start;
}

.FlexAll {
    min-height: 100vh;
}

.Flex1 {
    position: fixed;
    min-width: 150px;
    width: 10%;
    background-color: #003300;
    border-right:2px solid #CCC;
}

.Flex2 {
    margin-left: 10%;
    width: 70%;
    background-color: #001a00;
    
}

.Flex3 {
    margin-left: 80%;
    position: fixed;
    width: 20%;
    background-color: black;
}

.NavButtons{
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.NavBTN{
    height: 40px;
}

.NavButtons .NavBTN a, a:link, a:focus, a:hover, a:visited{
    color: white;
    font-weight: 500;
    text-decoration: none;
    outline: none;
}

.Legal{
    margin-top: 190px;
}
.Legal span{
    font-weight: 100;
    color: white;
    font-size: small;
}
.HomeBTN{

}
.CreateBTN{

}
.MetaBTN{
}
.KeyTermsBTN{
}
.GuideBTN{

}