*,html{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.FlexBox-Container{
    display: flex;
    flex-direction: row;
}
.FlexAll {
    min-height: 100vh;
}
.Flex1 {
    position: fixed;
    width: 175px;
    min-width: 175px;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: calc(100% - 60px);
    overflow-x: hidden;
    overflow-y: scroll;
}
.pageTitle{
    margin: 10px;
    padding: 10px;
    font-size: large;
    font-style: italic;
    font-weight: bold;
}
.pageTitle span{
    color: #d9d9d9;
}

::-webkit-scrollbar {
    height: 10px;
    width: 3px;
    background-color: #d9d9d9;
    border-radius: 10px;
  }
.NavButtons{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px 10px;
    border-top: 2px solid #d9d9d9;
    border-bottom: 2px solid #d9d9d9;
}
.NavBTN{
    height: 40px;
}
.NavButtons .NavBTN a, a:link, a:focus, a:hover, a:visited{
    color: #d9d9d9;
    font-weight: 500;
    text-decoration: none;
    outline: none;
}
.SearchBars{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
    margin-left: 10px;
}
.sChamp{
    display: flex;
    flex-direction: column;
}
.sChamp span{
    color: #d9d9d9;
    font-size: large;
    font-weight:bold;
}
.sChamp_txt{
    width: 75%;
    height: 35px;
}
.sPlayer{
    display: flex;
    flex-direction: column;
}
.sPlayer span{
    color: #d9d9d9;
    font-size: large;
    font-weight:bold;
}
.sPlayer_txt{
    width: 75%;
    height: 35px;
}
.Legal{
    margin-top: 250px;
}
.Legal span{
    font-weight: 500;
    color: #d9d9d9;
    font-size: 0.6em;
}
.Flex2{
    margin-left: auto;
    background-color: black;
    width: calc(100% - 175px);
}
.userBuilds{
    display: flex;
    flex-direction: column;
    border: 10px solid white;
    gap: 10px;
}
.createFilter{
    margin: auto;
    background-color: aqua;
    height: 100px;
    width: 70%;
    border: 5px solid white;
    min-width: 850px;
}
.createButton{
    background-color: aqua;
    height: 100%;
    width: 100%;
    min-width: 840px;
    margin: auto;
    border: 1px solid white;
    border-bottom: 5px solid white;
}
/* The Modal (background) */
.modal {
    display:block; /* Hidden by default */
    position:absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}  
/* Modal Content */
.modal-content {
    margin:auto;
    margin-top: 20px;
    background-color: #fefefe;
    border: 1px solid #888;
    width: 40%;
    height: 700px;
}
.modal-header{
    background-color: hotpink;
    height: 50px;
    font-size: 40px;
    text-align: center;
}
.modal-body{
    
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.active, .createButton:hover {
    background-color: #555;
  }
.uBuild{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    margin:auto;
    height: auto;
    width: 70%;
    border: 5px solid white;
    min-width: 850px;
}
.champPicture{
    display: flex;
    width: 100px;
    flex: 0 0 100px;
}
.champNameSkillOrder{
    display: flex;
    flex-direction: column;
    flex: 0 0 280px;
    width: 280px;
    gap:4px;
}
.champName{
    font-size: 40px;
}
.champSkillOrder{
    display: flex;
    flex-direction: row;
    margin:auto;
    font-size: 25px;
    gap: 8px;
}
.skills{
    border: 3px solid black;
}
.champRS{
    display: flex;
    flex-direction: row;
    flex: 0 0 100px;
    gap:10px;
    margin: auto;
}
.champRunes{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}
.champSS{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}
.titleItems{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
}
.buildTitle{
    font-size: 25px;
}
.buildItems{
    display: flex;
    gap: 10px;
}
.collapsible{
    display: flex;
}
.active, .collapsible:hover {
    background-color: #555;
  }
.content {
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
.skillorderRunes{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}
.runes{
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.runes span{
    font-weight: bold;
}
.MainRunes{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.SupportRunes{
    display: flex;
    gap: 8px;
}
.RuneAttributes{
    display: flex;
    gap: 8px;
}
table, th, td {
    border:1px solid black;
  }